<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <h2 matLine> Comments </h2>
    <div class="container" fxLayout="column" fxLayoutGap="10px">
      <mat-list fxFlex>
        <mat-list-item *ngFor="let com of dish.comments">
          <p matLine> {{com.comment}} </p>
          <p matLine>
            <span> {{com.rating}} stars </span>
          </p>
          <p matLine>
            <span> -- {{com.author}} {{com.date | date}} </span>
          </p>
        </mat-list-item>
        <mat-list-item *ngIf="previewShow">
          <p matLine> {{commentForm.value.comment}} </p>
          <p matLine>
            <span> {{commentForm.value.rating}} stars </span>
          </p>
          <p matLine>
            <span> -- {{commentForm.value.author}} </span>
          </p>
        </mat-list-item>
      </mat-list>
      <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="full-width">
            <input matInput formControlName="author" placeholder="Name" type="text">
            <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-slider thumbLabel formControlName="rating" [displayWith]="formatLabel" tickInterval="1" min="1" max="5" value="5"></mat-slider>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
            <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
          </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="formErrors.author || formErrors.rating">Submit</button>
      </form>
    </div>
  </div>
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>